{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h3>Name: {{product.name}}</h3>
<p>Description: {{product.description}}</p>
<p>Price: {{product.price}} $</p>
<button id="post-like" type="button" class="btn btn-default btn-lg glyphicon glyphicon-thumbs-up"  name="like_btn">{{product.total_likes}}
</button>
<br>
<br>
<form action="" method="POST">
    {% csrf_token %}

    <!--Form block-->
    {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" />

    <!--Messages block-->
    {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </form>

    <!--Comments block-->
    <h3>Comments:</h3>
    {% for elem in comments %}
            <hr>
            <div>Name:{{elem.name}}</div>
            {{elem.msg}}
            <div>Time:{{elem.time}}</div>
    {% endfor %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static "js/like_action.js" %}">
</script>
{% endblock %}