{% extends 'base.html' %}
{% load staticfiles %}
<!--npm install babel-preset-es2015 babel-preset-react
babel --presets es2015,react --watch src/ --out-dir lib/-->
{% block content %}
<br>
<div id="table"></div>
{% endblock %}
{% block script %}
<script src="https://fb.me/react-0.13.1.js"></script>
<!--<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.2/react-bootstrap.min.js">-->
<script>
    var data=function(){
        var str_json = {{data|safe}};
        return str_json;
    };
</script>
<script type="text/javascript" src="{% static "js/micro-table.js" %}">
</script>
{% endblock %}